{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wacky Widgets</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Project 3 Assessment</title>
</head>
<body>
    <h1>Wacky Widgets</h1>
    {% if widgets.count %}
    <table class="pure-table pure-table-striped">
        <thead>
            <tr> 
                <th>Description</th>
                <th>Quantity</th>
                <th>Delete</th>
            </tr>
        </thead>

        {% for widget in widgets %}
        <tr>
            <td>{{ widget.description }}</td>
            <td>{{ widget.quantity}}</td>
            <td><a href="{% url 'remove_widget' widget.id %}">X</a></td>
        </tr>

        {% endfor %}
    </table>
    {% else %}
    <h3>No Widgets Exist</h3>
    <hr>
    {% endif %}
    <h4>Add Widget</h4>
    <form class="pure-form" action="{% url 'add_widget' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">ADD WIDGET</button>
    </form>
</body>
</html> 




</body>
<footer class="page-footer">
 <div class="right">All Rights Reserved, &copy; 2022 Project 3 Assessment &nbsp;</div>
</footer>
</html>