{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wacky Widgets</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1 id="WW"> Wacky Widgets </h1>

</body>
<footer class="page-footer">
 <div class="right">All Rights Reserved, &copy; 2022 Project 3 Assessment &nbsp;</div>
</footer>
</html>